.checkoutproduct{
    display: flex;
margin-top: 20px;
margin-bottom: 20px;
}
.checkoutproduct__info{
    padding-left: 20px;

}
.checkoutproduct__rating{
    display: flex;
}
.checkoutproduct__info>button{
    background-color: #f0c14b;
    border: solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;

}